body {
  background: #f6f2de;
  @include box-sizing;
  overflow: hidden;
}
.map__wrapper {
  height: 100%;
  width: 100%;
  padding: 50px;
  @include box-sizing;
}
.map{
  position: absolute;
  background: #ffffff;
  @include box-shadow(#000000 0px 0px 5px);
  height: 677px;
 @include box-sizing;
&__number_content{
  position: absolute;
  top: 0;right: 0;bottom: 0;left:0;
  margin: auto;
  width: 100px;
  height: 100px;
  border: 5px solid black;
  @include border-radius(50%);
}
  &__number{
    @include box-sizing;
    text-align: center;
    font-size: 4rem;
    padding-top: 10px;
    vertical-align: middle;
    height: 100%;
  }
}
.narrow {
  width: 400px;
  max-width: 90%;
}
.wide.active {
  width: 90%;
  max-width: 960px;
}
.wide {
  width: 400px;
  max-width: 90%;
}